.container-2 :hover{
    background-color:#DDDDDD;
    border:#33CCFF solid;
    border-radius: 20px;
}

.date-one :hover{
    border:#DDDDDD;
}

.container-1{
    background-color: white;
    position: relative;
    top: 15px;
    border: 2px white;
    float:right;
}

.container-2{
    position: relative;
    top: 15px;
    border: 2px;
    width: 100%;
    float:right;
}

.date-one{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    white-space: nowrap, pre;

}

.square-icon{
    box-sizing: border-box;
    position: relative;
    width: 18px;
    height: 18px;
    left: 618px;
    top: 512.13px;
    /* light red */ 
    background: rgba(255, 164, 164, 0.27);
    /* red */
    border: 2px solid #FFA4A4;
    border-radius: 4px;
}