@import "../../styles.scss";

$color-add-task: $color-ui-green;
$shadow-add-task: $shadow-medium;
$radius-add-task: $radius-circle;
$size-add-task: 0.9em;
// $line-height-add-task: 1.289em;
$font-size-add-task: 3.1em;


.add-task {
  margin: 0.2em;
  // overflow: hidden;
  // text-align: center;
  // border-radius: $radius-add-task;
  // background-color: $color-add-task;
  color: $fg-opp;
  font-family: $font-UI;
  position: absolute;
  bottom: 0;
  right: 0;
  width: $size-add-task;
  height: $size-add-task;
  font-size: $font-size-add-task;
  // line-height: $line-height-add-task;
  transition: all 200ms ease-in-out;
  border: none;
  
  &.add {
    // width: 1.4em;
    // height: 1.4em;
    // font-size: 3.5em;
    // line-height: 0.3em;
    // padding: 0.1em 0.1em 0.13em 0.1em;
    background-color: $color-add-task;
    font-family: $font-UI-mono;
    transform: scale(0);
    // &::after {
    //   content: "+";
    //   font-family: $font-UI-mono;
    // }
    &.active {
      transform: scale(1);
    }
  }

  &.submit {
    background-color: $color-ui-blue;
    font-family: $font-UI;
    padding: 0.6em;
    margin: 0.14em;
    // &::after {
    //   content: "✓";
    //   font-family: $font-UI;
    // }
  }
}

.menu {
  z-index: 4;
  transition: all 200ms ease-in-out;
  transform: scale(0);
  transform-origin: bottom right;
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: fit-content;
  font-size: smaller;

  & form > * {
    margin-left: 0.2em;
    display: flex;
    align-items: center;
  }

  &.active {
    transform: scale(1);
  }

  & textarea {
    resize: none;
    height: 5em;
  }

  & form {
    display: flex;
    flex-direction: column;  
  }
}

.task-check {
  width: 1em;
  height: 1em;
  border: 0.3em solid $color-grey-trans;
}

.overlay {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
}

.btn.circ.day {
  width: 1.7em;
  height: 1.7em;
  margin: 0 0.2em;
}