<button class="add-task btn add" [class.active]="!formActive" (click)="addTaskForm()"></button>

<div class="overlay" [class.hidden]="!formActive" (click)="overlay()"></div>

<div class="menu" [class.active]="formActive" #addTask>
  <!-- <form #addTaskForm="ngForm" (ngSubmit)="submitForm(addTaskForm.value)" > -->
  <form [formGroup]="form">
    <div>
      <!-- <select id="signifier" formControlName="signifier">
        <option>task</option>
        <option>event</option>
        <option>note</option>
      </select> -->
      <input type="text" id="task" placeholder="New Task" required formControlName="name"/>
    </div>
    <div>
      Due: 
      <input type="date" id="dueDate" required formControlName="dueDate"/>
      <input type="time" required formControlName="dueTime"/>
    </div>
    <!-- <div>
      Start: 
      TODO: put an "add start" because its optional
      <input type="date" id="startDate" formControlName="startDate"/>  
      <input type="time" formControlName="startTime"/>
    </div> -->
    <!-- <div>
      TODO: add as many reminders as they would like
      Reminder:
      <input type="date" placeholder="enter" formControlName="reminder"/>  
      <input type="time" formControlName="reminderTime"/>
    </div> -->
    <div>
      Repeat: 
      <input (change)="repeatCheck($event)" type="checkbox" formControlName="repeat"/>  
      <span *ngIf="repeat">
        every
        <span *ngIf="form.value.dayWeekMonth === 'day'">
          <input type="number" min="1" formControlName="frequency"/>
          th
        </span>
        <span *ngIf="form.value.dayWeekMonth === 'week'">
          <div class="btn circ" [ngClass]="{'toggled': Su}" (click)="Su = !Su">S</div>
          <div class="btn circ" [ngClass]="{'toggled': Mo}" (click)="Mo = !Mo">M</div>
          <div class="btn circ" [ngClass]="{'toggled': Tu}" (click)="Tu = !Tu">T</div>
          <div class="btn circ" [ngClass]="{'toggled': We}" (click)="We = !We">W</div>
          <div class="btn circ" [ngClass]="{'toggled': Th}" (click)="Th = !Th">T</div>
          <div class="btn circ" [ngClass]="{'toggled': Fr}" (click)="Fr = !Fr">F</div>
          <div class="btn circ" [ngClass]="{'toggled': Sa}" (click)="Sa = !Sa">S</div>
        </span>
        <select formControlName="dayWeekMonth">
          <option>day</option>
          <option>week</option>
          <option>month</option>
        </select>
        <!-- <span *ngIf="form.value.dayWeekMonth === 'month'">
        </span> -->
      </span>
      <!-- <select id="repeat-cycle" formControlName="dayWeekMonthYear">
        <option>day(s)</option>
        <option>week(s)</option>
        <option>month(s)</option>
        <option>year(s)</option>
      </select> -->
    </div>
    <!-- <div>
      Group: 
      <select id="group" formControlName="group">
        <option>Home</option>
        <option>Work</option>
        <option>School</option>
        <option>Fun</option>
      </select> 
      Priority: 
      <select id="priority" formControlName="priority">
        <option>!</option>
        <option>!!</option>
        <option>!!!</option>
      </select>
    </div> -->
    <!-- <div>
      TODO: add choose on map/enter location, maybe with google maps
      Location: 
      <input type="location" />  
    </div> -->
    <!-- <div>
      TODO: add friend list here, can be chosen to collaborate with
      Collaborations: <input />  
    </div> -->
    <!-- <div>
      TODO: add mood
    </div> -->
    <textarea type="text" id="description" placeholder="Description" formControlName="description"></textarea>
  </form>
  <button type="submit" class="add-task btn submit" (click)="submitForm()"></button>
</div>