@import "../../styles.scss";

$radius-todo: 0.34em;
$pd-task: 0.4em;
$radius-task: calc($radius-todo + $pd-task / 1.3);

.task {
  display: flex;
  padding: $pd-task;
  transition: all ease-in-out 200ms;
  border-radius: $radius-task;
  justify-content: space-between;
  align-items: center;

  &:hover{
    background-color: $color-grey-trans;
    // border:#33CCFF solid;
  }
}

.right-aligned {
  display: flex;
  //padding: $pd-task;
  transition: all ease-in-out 200ms;
  //border-radius: $radius-task;
  justify-content: center;
  align-items: center;
  
}

#task-text, #task-time {
  padding-right: 0.7em;
  padding-left: 0.7em;
}

#task-time {
  color: $color-grey;
}

.task-head{
  white-space: nowrap, pre;
  display: flex;
  align-items: center;
}

.signifier {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  flex: none;
  /* left: 618px; */
  /* top: 512.13px; */
  border-radius: $radius-todo;
  transition: all 0.2s;

  &:hover {
    box-shadow: $shadow-medium;
  }
  &:active {
    box-shadow: inset $shadow-medium;
  }
}

.btn {
  // padding-left: 5px;
  // padding-right: 5px;
  padding: 0.2em;
  opacity: 0.0;
  transition: all ease-in-out 200ms;
  width: 1em;
  height: 1em;
  margin: -0.2em 0.1em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-UI;

  &.edit {
    border: 2px solid $color-grey-trans;
  }

  .task:hover & {
    opacity: 1.0;
  }

  &.del {
    border: 2px solid $color-ui-red;
    background-color: $color-ui-red-trans;
    color: $color-ui-red;
    &:hover {
      background-color: $color-ui-red;
      color: $fg;
    }
    &:active {
      background-color: $color-ui-darkred-trans;
    }
  }
  
}


