<!-- <div *ngFor="let task of tasks"> {{ task.content }} </div> -->

<!-- <div class="container-1"> -->
  <div class="task">
      <div class="date-one">

        <div class="task" *ngFor="let tag of tags">
          <div class="square-icon"></div>
        </div>
          <div id="task-text" >{{ name }} {{ tagID }}</div>
        
          <!-- This is a <b>task</b> for SCHOOL that is <b>over due</b> so it needs to be rescheduled. -->
      </div>
      <div id="task-time">{{ startTime}}: {{ year}}-{{ month }}-{{ day }}</div>
  </div>
<!-- </div> -->
