<div class="overlayer">
<form class="complete-log-in">
    <div class="circle"></div>
        <div class="log-in">
            <input
            type="text"
            placeholder="Username"
            name="username"
            required
          />
        </div>
        <div class="log-in">
            <input
            type="text"
            placeholder="Password"
            name="password"
            required
          />
        </div>
    <input class="button" type="submit" value="Login" name="">
</form>
</div>
