<div class="signin-overlay" [ngClass]="{'hidden': globals.loggedIn}">
  <div class="signin">
    <!-- <div class="circle"></div> -->
    <form class="complete-log-in" (ngSubmit)="submit()" [formGroup]="form">
      <input
        [ngClass]="{'hidden': !registering}"
        type="text"
        placeholder="Name"
        formControlName="name"
        required
      />
      <input
        type="text"
        placeholder="Email"
        formControlName="email"
        required
      />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <input
        [ngClass]="{'hidden': !registering}"
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        required
      />
      <input [ngClass]="{'hidden': registering}" class="btn" type="submit" value="Login"/>
      <input [ngClass]="{'hidden': !registering}" class="btn" type="submit" value="Register"/>
    </form>
    <div class="notation">
      <p class = "words" [ngClass]="{'hidden': registering}">
        Don't have an account? <a class ="register" (click)="registering = true">REGISTER</a>
      </p>
      <p class = "words" [ngClass]="{'hidden': !registering}">
        Already have an account? <a class ="register" (click)="registering = false">LOGIN</a>
      </p>
    </div>  
  </div>
</div>