.overlayer{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    backdrop-filter:blur(30px);
    background-color: rgba(0, 0, 0, 0.212);
}

.button{
    background-color: rgba(211,211,211,0.5);
    color:black;
    border:none;
    width:5%;
    align-items: center;
}
.button:hover{
    background:blue;
    color:white;
}

.complete-log-in{
    padding:30px;
    text-align: center;
    margin-top: 115px;
}

.circle{
    background: rgba(211,211,211,0.5);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 44%;
    margin-bottom: 30px;
    
}

.complete-log-in .log-in{
    padding:10px;
}

.complete-log-in input[type="text"]{
    background-color:rgba(211,211,211,0.5);
    border-radius: 5px;
    width: 30%;
    border-color:rgba(211,211,211,0.5);
}

.words{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color:lightgrey;
    display: inline-block;
}

.register{
    font-family:'Courier New', Courier, monospace;
    font-size: small;
    color:cornflowerblue;
    font-weight:bold;
}
.register:hover{
    color:black;
}
