@import "../../styles.scss";

.task {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  & > .name {
    flex: 1;
  }
  & > :not(.name) {
    color: $color-lightgrey;
  }

}