/* You can add global styles to this file, and also import other style files */

/*****************/
/* All Variables */
/*****************/

// Automatic Darkmode and Lightmode with system settings:

// light mode
:root {
  --fg-alt: white; //$color-white;
  --bg-alt: #eaebef;
  --bg: #f1f3f6; //$color-light;
  --fg: #313443;  //$color-darker;
  // --variant: 'light';
}
// dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --fg-alt: #3f4252; //$color-dark;
    --bg-alt: #373949;
    --bg: #313443; //$color-darker;
    --fg: #acaeb8; //$color-light;
    // --variant: 'dark';
  }
}

// $variant: var(--variant);
// main
$bg: var(--bg);
$fg: var(--fg);
$bg-alt: var(--bg-alt);
$fg-alt: var(--fg-alt);
// $bg: if($variant == 'light', #f1f3f6, #343434);
// $fg: if($variant == 'dark', #f1f3f6, #343434);

// ------------------------------

// fonts
$font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: 'Source Code Pro', monospace;
$font-UI-mono: 'Source Code Pro';
$font-UI: 'IBM Plex Sans', sans-serif;

// colours

$color-darker: #313443;
$color-dark: #3f4252;
$color-grey: #808397;
$color-lightgrey: #bcbeca;
$color-grey-trans: #6a6d8027;
$color-lightgrey-trans: #9a9cac09;
$color-mediumgrey-trans: rgba(125, 125, 125, 0.069);
$color-white: white;
$color-light: #f1f3f6;
$color-ui-blue: rgb(18, 95, 202);
$color-ui-green: rgb(18, 202, 165);

$color-red: #ff979782;
$color-red-trans: transparentize($color-red, 0.18);
$color-orange: #fbbb7f82;
$color-orange-trans: transparentize($color-orange, 0.18);
$color-yellow: #d8db3e82;
$color-yellow-trans: transparentize($color-yellow, 0.18);
$color-green: #7af7a482;
$color-green-trans: transparentize($color-green, 0.18);
$color-blue: #53b7ff82;
$color-blue-trans: transparentize($color-blue, 0.18);
$color-purple: #bb91ff82;
$color-purple-trans: transparentize($color-purple, 0.18);
$color-pink: #ff91ff82;
$color-pink-trans: transparentize($color-pink, 0.18);
$color-brown: #c5ab9582;
$color-brown-trans: transparentize($color-brown, 0.18);

// shadows
$shadow-huge: 0px 12px 25px rgba(0,0,0,0.21);
$shadow-medium: 1px 2px 7px rgba(0,0,0,0.15);
$shadow-medium-hover: 2px 3px 9px rgba(0,0,0,0.19);
$shadow-medium-active: 1px 1px 4px rgba(0,0,0,0.15);
$shadow-menu: 0px 0px 90px rgba(0, 0, 0, 0.16);

// radii
$radius-circle: 100%;
$radius-menu: 1em;
$radius-btn: 0.7em;

// heights
$height-top-bar: 3em;

// size

// padding
$pd-top-bar: 0.3em;
$pd-main-view: 0.7em;
$pd-view: 1.5em;
$pd-side-bar: 1em;

// -------------------------------

::-webkit-scrollbar {
  background-color: rgba(131, 131, 131, 0.043);
  border-radius: 0.2em;
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(131, 131, 131, 0.154);
  border: 0.1em solid transparent;
  border-radius: 0.2em;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(131, 131, 131, 0.199);
}

// colors
.signifier, .tag {
  &.red {
    border-color: $color-red;
    background: $color-red-trans;
  }
  
  &.orange {
    border-color: $color-orange;
    background: $color-orange-trans;
  }
  
  &.yellow {
    border-color: $color-yellow;
    background: $color-yellow-trans;
  }
  
  &.green {
    border-color: $color-green;
    background: $color-green-trans;
  }
  
  &.blue {
    border-color: $color-blue;
    background: $color-blue-trans;
  }
  
  &.purple {
    border-color: $color-purple;
    background: $color-purple-trans;
  }
  
  &.pink {
    border-color: $color-pink;
    background: $color-pink-trans;
  }

  &.brown {
    border-color: $color-brown;
    background: $color-brown-trans;
  }  
}


// main CSS
html, body {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $bg;
  color: $fg;
  overflow: hidden;
}

.btn {
  // user-select: none;
  transition: all 0.2s;
  box-shadow: $shadow-medium;
  user-select: none;

  &:hover {
    transform: translateY(-1);
    box-shadow: $shadow-medium-hover;
  }
  &:active {
    box-shadow: $shadow-medium-active;
  }

  &.circ {
    background-color: $color-lightgrey-trans;
    border-radius: 100%;
    padding: 0.2em;
    margin: 0.2em;
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    text-align: center;

    &.toggled {
      background-color: $color-ui-blue;
      color: $bg;
    }
  }
}

input,
textarea,
select {
  color: $color-grey;
  border: none;
  border-radius: 0.5em;
  padding: 0.3em 0.5em;
  /* color: white; */
  margin: 0.2em;
  /* width: 100; */
  background-color: $color-mediumgrey-trans;
  // box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.04);
  font-size: small;
  
  &::placeholder {
    color: $color-grey;
  }

  &:focus {
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.04);
    outline: none;
  }

  &#task {
    font-size: medium;
  }

  &[type="number"] {
    width: 4em;
  }
}
textarea {
  background-color: $bg;
  resize: none;
  height: 3em;
}

.menu {
  color: $color-grey;
  background-color: $bg-alt;
  padding: $pd-main-view;
  border-radius: $radius-menu;
  box-shadow: $shadow-menu;
}

// main view
.main-view {
  display: flex;
  align-items: stretch;
  color: $fg;
  padding: $pd-main-view;
  position: absolute;
  top: 0;
  padding-top: $height-top-bar + 2 * $pd-top-bar + $pd-main-view;
  // top: $height-top-bar + 2 * $pd-top-bar;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  
  & > :not(app-side-bar) {
    align-items: stretch;
    flex: 1;
  }
}

// TODO: make side bar not scroll
// side bar
.side-bar {
  // position: absolute;
  // top: $height-top-bar + 2 * $pd-top-bar;
  // left: 0;
  // overflow: auto;
}
// .main-view > router-outlet {
//   flex: 1;
//   align-items: stretch;
//   text-align: left;
//   padding: $pd-main-view;
// }

router-outlet {
  display: none;
}

app-dashboard, app-daily-log, app-monthly-log, app-future-log {
  padding: $pd-view calc($pd-view / 4) $pd-view $pd-view;
  
  & > * {
    padding-bottom: 1em;
  }
}

// app-daily-log {
  // width: 58%;
  // position: fixed;
  // right: 0px;
// }

.hidden {
  display: none!important;
}

// future and monthly log task display
.future-log-task-container, .monthly-log-task-container {

  & .task {
    padding: 0.2em 0.4em!important;
  }
  & .task-head {
    font-size: 0.8em;
  }

  & .signifier {
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%!important;
  }
  & #task-time {
    display: none;
  } 
}

// -------------------------------
