<div class="daily-log-task-container">
  <h1>Daily Log</h1>
  <hr class="daily-log-underline">

  <div>
    <div class="day" *ngFor = "let day of globals.dailyTasks; index as i">
      <h2>{{globals.nDates[i].toDateString()}}</h2>

      <div *ngFor = "let task of day">
        <app-task [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
      </div>
    </div>
  </div>

  <!-- <div class="task" *ngFor="let task of globals.tasks">
    <div class="name">{{ task.name }}</div><div>{{ task.dueTime}}: {{ task.year}}-{{ task.month }}-{{ task.day }}</div>
  </div> -->
</div>