@import "../../styles.scss";

$bd-switch: 0.16em;
$radius-switch: 1.2em;

.side-bar {
  // padding: $pd-side-bar;
  // position: absolute;
  // top: $height-top-bar + 2 * $pd-top-bar;
  // left: 0;
  color: $color-grey;
}

.side-section {
  display: flex;
  flex-direction: column;
  padding: 0.1em;

  .active{
    background-color: darkolivegreen;
  }
  
  & a {
    // font-family: $font-UI;
    text-align: center;
    color: $color-grey;
    text-decoration-line: none;
    padding: 1em;
    border-style: solid;
    border-color: $color-grey-trans;
    background-color: $color-lightgrey-trans;
    border-width: calc($bd-switch/2) $bd-switch;

    &:first-child {
      border-width: $bd-switch $bd-switch calc($bd-switch/2) $bd-switch;
      border-radius: $radius-switch $radius-switch 0 0;
    }
    &:last-child {
      border-width: calc($bd-switch/2) $bd-switch $bd-switch $bd-switch;
      border-radius: 0 0 $radius-switch $radius-switch;
    }
    &:selected {
      
    }
  }

  & .tags {
    // font-family: $font-UI;
    text-align: center;
    color: $color-grey;
    margin: 1em 0;
    padding: 0.6em;
    border-radius: $radius-switch;
    border: $bd-switch solid $color-grey-trans;
    background-color: $color-lightgrey-trans;

    & .tag {
      padding: 0 0.5em;
      margin: 0.5em 0 0 0;
      border-radius: $radius-switch;
      border: $bd-switch solid $color-grey-trans;

      &.red {
        background-color: #FFA4A445;
        border-color: #FFA4A4;
      }
    }
  }
}

.add-tag {
  border: $bd-switch solid $color-grey-trans;
  background-color: $color-lightgrey-trans;
  font-family: $font-UI-mono;
  width: 1em;
  height: 1em;
  margin: 0 0.2em;
}

form {
  width: 6.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & * {
    font-size: 0.8em;
  }
}
