.overlayer{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    backdrop-filter:blur(30px);
    background-color: rgba(0, 0, 0, 0.212);
}

.button{
    background-color: rgba(211,211,211,0.5);
    color:black;
    border:none;
    width:8%;
    align-items: center;
}
.button:hover{
    background:blue;
    color:white;
}

.complete-register{
    padding:30px;
    text-align: center;
    margin-top: 115px;
}


