@import "../../styles.scss";

.future-log-underline {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $color-grey-trans;
}

.future-log-task-container {
  height: 94%;
}

.future-log-calendar-container {
  height: 100%;
}

header, .row {
  display: flex;  /* aligns all child elements (flex items) in a row */
  height: 33%;
}

.future-log-month-underline {
  width: 95%;
  margin-left: 0;
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}