@import "../../styles.scss";

.future-log-underline {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $color-grey-trans;
}

header, .row {
  display: flex;  /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}