<div class="future-log-task-container">
  <h1>Future Log</h1>
  <hr class="future-log-underline">
  <section class="future-log-calendar-container">
    <div class="row">
      <div class="col">
        <h3>January</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 1" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>February</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 2" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>March</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 3" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>April</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 4" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>May</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 5" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>June</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 6" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>July</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 7" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>August</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 8" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>September</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 9" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>October</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 10" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>November</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 11" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>December</h3>
        <hr class="future-log-underline">
        <div class="tasks">
          <div *ngFor="let task of globals.futureTasks">
            <app-task *ngIf="task.month === 12" [name]=task.name [dueTime]=task.dueTime [dueDate]=task.dueDate [color]=task.color></app-task>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
