@import "../../styles.scss";

$bg-top-bar: transparentize(darken($color-dark,2), 0.2);
$fg-top-bar: $color-light;
$shadow-top-bar: $shadow-huge;


.top-bar {
    background-color: $bg-top-bar;
    position: relative;
    width: auto;
    height: $height-top-bar;
    line-height: $height-top-bar;
    box-shadow: $shadow-top-bar;
    color: $fg-top-bar;
    padding: $pd-top-bar;
    display: flex;
    align-items: center;
    padding-right: 2%;
    backdrop-filter: blur(18px);
  }

.top-bar-elem {
    margin-left: 2%;
    text-decoration: none; 
    position: absolute;
    top: 20px;
    right: 45px;
}

.top-bar-elem:visited { 
    text-decoration: none; 
    color: white; 
}

.spacer {
    flex: 1;
}

.btn {
  border-radius: $radius-btn;
  background-color: $color-grey-trans;
  padding: 0.5em;
  line-height: 1em;
  position:relative;
  bottom:10px;
}

.title{
  position:relative;
  bottom:100px;
  top:0;
  right:0;
  left:5px;
}