<div class="monthly-log-task-container">
  <h1>{{ monthName }}</h1>
  <hr class="monthly-log-underline" />

  <div class="split-view">
    <div class="left">
      <h2>Calendar</h2>
      {{days}}
      {{weekDaysName}}
    </div>
    <div class="right">
      <h2>Unscheduled Tasks</h2>
      <div *ngFor="let task of globals.monthlyTasks">
          <app-task
            [_id]="task._id"
            [name]="task.name"
            [content]="task.content"
            [schedule]="task.schedule"
            [dueTime]="task.dueTime"
            [isRepeat]="task.isRepeat"
            [tag]="task.tag"
            [color]="task.color"
            [dayWeekMonth]="task.dayWeekMonth"
            
            [dueDate]="task.dueDate"
            [frequency]="task.frequency"
          ></app-task>
      </div>
    </div>
  </div>
</div>
