@import "../../styles.scss";

.monthly-log-underline {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $color-grey-trans;
}

.split-view{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.left{
  width:50%;
  border-right: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.days-weekdays{
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.right{
  width:50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: nowrap;
}
