<div class="monthly-log-task-container">
  <h1>{{ monthName }}</h1>
  <hr class="monthly-log-underline"/>

  <div class="split-view">
    <div class="left">
      <h2>Calendar</h2> 
      <div class="calendar-container">
        <div class="calendar">
          <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="days">
            <div class="prev-dates" *ngFor="let prev of this.prev_days">
              {{prev}}
            </div>
            <div *ngFor="let i of this.days" [ngClass]="i === this.today? 'today':''">
              {{i}}
            </div>
            <div *ngFor="let next of this.next_days">
              <div class="next-dates">{{next}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <h2>Unscheduled Tasks</h2>
      <div *ngFor="let task of globals.monthlyTasks">
        <app-task
          [_id]="task._id" [abandoned]=task.abandoned [color]="task.color"
          [completed]=task.completed [content]="task.content" [dayWeekMonth]="task.dayWeekMonth"
          [dueDate]="task.dueDate"
          [dueTime]="task.dueTime" [frequency]="task.frequency"
          [hour]="task.hour" [important]=task.important
          [isRepeat]="task.isRepeat" [minute]="task.minute" [name]="task.name" [notifiable]="task.notifiable"
          [notifyTime]="task.notifyTime" [schedule]="task.schedule" [tag]="task.tag">
        </app-task>
      </div>
      <div *ngFor="let task of globals.monthlyTasksNoDay">
        <app-task
          [_id]="task._id" [abandoned]=task.abandoned [color]="task.color"
          [completed]=task.completed [content]="task.content" [dayWeekMonth]="task.dayWeekMonth"
          [dueDate]="task.dueDate"
          [dueTime]="task.dueTime" [frequency]="task.frequency"
          [hour]="task.hour" [important]=task.important
          [isRepeat]="task.isRepeat" [minute]="task.minute" [name]="task.name" [notifiable]="task.notifiable"
          [notifyTime]="task.notifyTime" [schedule]="task.schedule" [tag]="task.tag">
        </app-task>
      </div>
    </div>
  </div>
</div>
