<div class="monthly-log-task-container">
  <h1>{{ monthName }}</h1>
  <hr class="monthly-log-underline" />

  <div class="split-view">
    <div class="left">
      <h2>Calendar</h2>
      <div class="days-weekdays" >
      <!--   {{days}}
        {{weekDaysName}} -->
      </div>
    </div>
    <div class="right">
      <h2>Unscheduled Tasks</h2>
      <div *ngFor="let task of globals.monthlyTasks">
        <app-task
          [_id]="task._id" [name]="task.name" [content]="task.content" 
          [schedule]="task.schedule" [dueDate]="task.dueDate" [dueTime]="task.dueTime" [dayWeekMonth]="task.dayWeekMonth" 
          [isRepeat]="task.isRepeat" [frequency]="task.frequency"
          [hour]="task.hour" [minute]="task.minute"
          [tag]="task.tag" [color]="task.color" [notifiable]="task.notifiable" [notifyTime]="task.notifyTime" 
          [completed]=task.completed [important]=task.important [abandoned]=task.abandoned>
        </app-task>
      </div>
    </div>
  </div>
</div>
